@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
body {
  background: #000;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #eee;
  text-align: center;
  font-family: "Lora", serif;
}
.flex {
  display: flex;
  justify-content: space-around;
}
.relative {
  position: relative;
}

h1 {
  font-size: 75px;
}

button {
  font-family: "Lora", serif;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 20px;
  background: #eee;
  color: #777;
  width: 180px;
  height: 120px;
  font-size: 30px;
  transition: 400ms background, color;
  margin-left: 2%;
  margin-right: 2%;
}
button:hover {
  cursor: pointer;
  background-color: #888;
  color: #fff;
}
.ics {
  border: 3px solid #ddd;
  animation: 2s increase-size infinite;
}
@keyframes increase-size {
  0% {
    background-color: #888;
    color: #fff;
  }
  50% {
    background-color: #eee;
    color: #000;
  }
  100% {
    background-color: #888;
    color: #fff;
  }
}